<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="text-center">
    <h1 class="mb-4">Welkom op je Dashboard!</h1>
    <div class="d-flex justify-content-center">
      <a href="/uitgaven" class="btn btn-primary me-2">Bekijk Uitgaven</a>
      <a href="/uitgaven/toevoegen" class="btn btn-success me-2">Voeg Uitgave Toe</a>
      <a href="/auth/logout" class="btn btn-danger">Uitloggen</a>
    </div>
  </div>
  
</body>
</html>
