<form action="/auth/register" method="POST">
    <input type="text" name="username" placeholder="Gebruikersnaam" required />
    <input type="password" name="password" placeholder="Wachtwoord" required />
    <button type="submit">Registreren</button>
  </form>
  